body {
    background-image: url('images/capa.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-color: white;
    background-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.capa {
    height: 115vh;
}
.card {
    height: 100vh;
}
.content {
    text-align: center;
    padding-top: 200px;
}
.card {
    padding: 20px;
}
.nav-link {
    background: none;
    border: none;
}

.carousel-inner {
    border: solid 3px black;
    background-color: black;
}

#translateButton {
    color: white;
    margin-right: 20px;
    border: solid white 1px;
}

.panel {
    background-color: rgba(0, 0, 0, 0.664);
    text-align: center;
    padding: 10%;
    height: 80vh;
}

a {
    color: black;
}

/*telas muito grandes*/
@media only screen and (max-width: 3000px) {
    #carouselExampleControls {
        max-width: 800px;
        display: flex;
        align-self: center;
    }
}
/*telas grandes*/
@media only screen and (max-width: 1030px) {
    #carouselExampleControls {
        max-width: 768px;
        display: flex;
        align-self: center;
    }
}
/*tablet*/
@media only screen and (max-width: 770px) {
    #carouselExampleControls {
        max-width: 760px;
        display: flex;
        align-self: center;
    }
}
/*celular*/
@media only screen and (max-width: 700px) {
    .imgResponsive {
        max-width: 300px;
    }
    .carousel-inner {
        align-items: center;
        max-width: 400px;
        margin-left: 0;
    }
}
@media only screen and (max-width: 380px) {
    .imgResponsive {
        max-width: 280px;
    }
    .carousel-inner {
        align-items: center;
        max-width: 300px;
        margin-left: 0;
    }
}
